@import "tailwindcss";

:root {
  --background: #FBFAF8;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), var(--font-poppins), var(--font-poly), Arial, sans-serif; 
  --font-mono: monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #FBFAF8;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), var(--font-poppins), var(--font-poly), Arial, sans-serif;
}


