@import "tailwindcss";
@import "swiper/css";

:root {
  --background: #FBFAF8;
  --foreground: #333333;
}


@media (prefers-color-scheme: light) {
  :root {
    --background: #FBFAF8;
    --foreground: #333333;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kanit, sans-serif);
}

/* Custom scrollbar for dropdown */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #F0DF20;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #e0cf10;
}


@keyframes fadeIn {
  from {
    opacity: 0.2;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(-100px);
  }
  100% {
    opacity: 0;
    transform: translateY(-120px);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}

.animate-fadeIn {
  animation: fadeIn 0.7s ease-out forwards;
}

.animate-float-up {
  animation: floatUp 5s ease-out forwards;
}

@keyframes shimmer {
  0% { background-position: -1000px 0; }
  100% { background-position: 1000px 0; }
}

.animate-skeleton {
  background: linear-gradient(90deg, #f3f4f6 25%, #e5e7eb 50%, #f3f4f6 75%);
  background-size: 1000px 100%;
  animation: shimmer 2s infinite linear;
}